.confirmation {
    padding-bottom: 40px;
    min-height: 1123px;
    @media screen and (max-width: 690px) {
        width: 100%;
        min-height: fit-content;
        padding: 24px 11.5px;
        border-radius: 20px !important;
    }
    &__title {
        color: #fff;
        font-size: 18px;
        margin-bottom: 6px;
    }
    .wrapper {min-height: calc(100% - 94px);}
    &__send {
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.5px;
        background-color: #fff;
        border: 1px solid #fff;
        border-radius: 15px;
        padding: 25px 20px;
        width: 100%;
        transition: all .3s ease-in-out;
        &:hover {
            background-color: #C70C50;
            color: #fff;
            transition: all .3s ease-in-out;
        }
    }
}
.info {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__text {
        line-height: 16px; 
        font-size: 14px;
        margin: 0;
    }
    &__num {
        color: #FFF;
        font-size: 34px;
        line-height: 34px;
        margin: 0;
        span {opacity: 0.5;}
    }
    &:nth-child(2) .info__num span {
        opacity: 1;
        font-size: 14px;
        line-height: 16px;
    }
}

.input {
    margin: 24px 0 48px;
    display: flex;
    gap: 10px;
    &__btn {
        display: none;
        &:checked + .input__btn_checked  {
            border: 2px solid #fff006;
            span img {opacity: 1;}}
        &_checked {
            display: inline-block;
            width: 34px;
            height: 34px;
            cursor: pointer;
            border-radius: 50%;
            background-color: #fff;
            border: 2px solid transparent;
            transition: all .3s ease;
            &:hover {border: 2px solid #fff006;}
            img {
                opacity: 0;
                transition: all .3s ease;
            }
        }
    }
    &__label {
        align-self: center;
        color: #FFF;
        font-size: 14px;
        line-height: 16px;
    }
}