#action4 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 851px;
    margin: 24px 0 80px;
    padding: 32px 24px;
    @media screen and (max-width: 425px) {
        height: 100%;
        margin: 24px 0 32px;
    }
}

.thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-size: 32px;
        font-weight: 600;
        line-height: 32px;
        letter-spacing: -0.5px;
        margin-bottom: 24px;
        text-align: center;
    }
    &__text {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 32px;
        max-width: 894px;
        text-align: center;
    }
    &__btn {
        width: 100%;
        max-width: 295px;
        background-color: #E70658;
        border: 1px solid #E70658;
        border-radius: 15px;
        padding: 17px 20px 18px;
        text-align: center;
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
        line-height: 18px;
        letter-spacing: -0.5px;
        &:hover {
            background-color: #C70C50;
            transition: all .3s ease-in-out;
        }
    }
}